# L40S 48GB optimized
train:
    batch_size: 32
    accumulate_grad_batches: 1
    num_workers: 8
    pin_memory: true
    prefetch_factor: 2

    epochs: 1000
    save_every_n_epochs: 10
    validate_every_n_epochs: 1
    log_every_n_steps: 100

    optimizer:
        name: "AdamW"
        lr: 1e-3
        betas: [0.9, 0.98]
        eps: 1e-9
        weight_decay: 1e-6

    scheduler:
        name: "noam"
        warmup_steps: 4000

    mixed_precision: "bf16"
    gradient_clip_val: 1.0

    loss_weights:
        mel: 1.0
        postnet: 1.0
        duration: 1.0
        pitch: 0.1
        energy: 0.1
